body {
    --theme-color-foreground: lime;
    --theme-color-background: black;
    background-color: var(--theme-color-background);
    color: var(--theme-color-foreground);
    font-family: Menlo,monospace;
    --glow: 0 0 30px var(--theme-color-foreground);
    font-size: 20px;
}

.title {
    font-size: 30px;
}

.back-button{
    position: absolute;
    left: 10%;
    top: 10%;
    text-shadow: var(--glow), var(--glow);
    font-size: 20px;
}

.center-area{
    position: absolute;
    top: 20%;
    left: 20%;
    text-shadow: var(--glow), var(--glow);
}

a:link {
    color: var(--theme-color-foreground);
    text-decoration: none;
}

a:-webkit-any-link{

}

a:visited {
    color: var(--theme-color-foreground);
    text-decoration: none;
}

a:hover {
    color: var(--theme-color-foreground);
    text-decoration: none;
    --intense-glow: 0 0 10px var(--theme-color-foreground);
    text-shadow: var(--glow), var(--glow), var(--intense-glow), var(--intense-glow);
}

a:active {
    color: var(--theme-color-foreground);
    text-decoration: none;
}